# macOS
.DS_Store

# autoconf / automake artifacts
Makefile
Makefile.in
*/aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
config.log
config.status
libtool
configure
depcomp
include/config.h.in~
install-sh
ltmain.sh
m4/
missing
ylwrap
.dirstamp

# libtool build artifacts
*.la
*.lai
*.lo
*.so
*.so.*
.libs/
.deps/

# compiler artifacts
*.o
*.Po
*.m4

# code coverage
*.gcda
*.gcno
*.gcov

# editor
*.swp
*.swo
*~
